# Primeros pasos en python

* Variables
* Operadores matematicos
* Operadores de comparacion
* Operadores logicos
* Estructuras de control
    - Condicionales
    - Ciclos finitos e infinitos
    - Funciones
* Estructuras de datos basicas
    - Cadenas
    - Numeros enteros / flotantes
    - Listas
    - Diccionarios
    - Tuplas
* Fundamentos de Programacion orientada a objetos

In [82]:
print("epale")

epale

In [83]:
# variables
name = "Josefino"
Name="Josefino2"
LastName = "primero"
last_name = "segundo"
ln = "segundo"

In [84]:
ln

'segundo'

In [85]:
last.name = "josefino"

NameError: name 'last' is not defined

In [14]:
last-name = "josefino"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (717441640.py, line 1)

In [30]:
# numeros
number1 = 10
number2 = 20
number3 = 30.55

In [31]:
number1

10

In [47]:
name = "josefino"

In [64]:
# Operadores matematicos basicos
result_add = number1 + number2
result_sub = number1 - number2
result_mult = number1 *  number2
result_div = number1 / number2

In [93]:
print("Suma:", result_add, ", Resta:" , result_sub, ", Multiplicacion:", result_mult, " y Division:", result_div)
print(f"Suma: {result_add}, Resta: {result_sub}, Multiplicacion: {result_mult}  y Division: {result_div}")

Suma: 30 , Resta: -10 , Multiplicacion: 200  y Division: 0.5
Suma: 30, Resta: -10, Multiplicacion: 200  y Division: 0.5

In [ ]:
#Operadores booleanos
True 
False

In [ ]:
#Operadores de comparacion
# mayor >
# menor <
# igual =
# diferente !=
# mayor o igual >=
# menor o igual <=

# Ejemplo de uso de operadores de comparaciÃ³n
print(5 > 3)  # True
print(5 < 3)   # False
print(5 == 5)  # True
print(5 != 5)  # False
print(5 >= 5)  # True
print(5 <= 5)  # True

In [94]:
3>5

False

In [95]:
3 == 5

False

In [96]:
3 < 5

True

In [97]:
result_add > result_div

True

In [104]:
# Condicional simple
if result_add > result_sub:
    print(f"El resultado de la suma {result_add}, es mayor que {result_sub}")
else:
    print(f"El resultado de la suma {result_add}, es mayor que {result_sub}")

El resultado de la suma 30, es mayor que -10